#logo {
    width: 8%;
}

#facebook, #instagram, #twitter, #logo {
    float: left;
    text-align: center;
}

#facebook, #instagram, #twitter {
    font-size: 20px;
}

#name {
    float: left;
    width: 45%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

#facebook {
    width: 15%;
}

#instagram {
    width: 15%;
}

#twitter {
    width: 15%;
}