body {
    font-family: Arial, Helvetica, sans-serif;
}
#logo {
    width: 8%;
}

#facebook, #instagram, #twitter, #logo {
    float: left;
    text-align: center;
}

#facebook, #instagram, #twitter {
    font-size: 20px;
}

#name {
    float: left;
    width: 45%;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
}

#facebook {
    width: 15%;
}

#instagram {
    width: 15%;
}

#twitter {
    width: 15%;
}

.top {
    height: 100px;
}

.container {
    width: 700px;
    height: 400px;
    margin: auto;
    border-radius: 2px;
    border-style: solid;
}

#search {
    text-align: center;
    margin-top: 30px;
}

#searchBar {
    width: 300px;
    height: 30px;
    margin: auto;
}

#searchButton {
    height: 100px;
}