body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    float: left;
    width: 3%;
}

#menuImage {
    width: 40px;
    height: 40px;
}

#searchlogo {
    float: left;
    width: 40%
}

#searchImage {
    margin-bottom: 5px;
    float: left;
    width: 60px;
    height: 60px;
    transform: translateY(-7px) translateX(-6px);
}

#logo {
    float: left;
    width: 3%;
}

#logoImage {
    width: 40px;
    height: 40px;
}

#home {
    float: left;
    width: 3.5%
}

#homeImage {
    width: 35px;
    height: 35px;
}

#couponbook {
    float: left;
    width: 3%;
}

#couponbookImage {
    width: 33px;
    height: 33px;
}

#name {
    float: left;
    width: 46%;
    font-size: 35px;
    font-weight: bold;
    margin-left: 15px;
}

.top {
    height: 100px;
}

.container {
    width: 700px;
    height: 580px;
    margin: auto;
    border-radius: 2px;
    border-style: solid;
    overflow-y: scroll;
}

#search {
    text-align: center;
    margin-top: 20px;
}

#searchBar {
    width: 300px;
    height: 30px;
    margin: auto;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #1ebbd7;
    font-size: 13px;
}

#searchButton {
    border-radius: 10px;
    text-transform: uppercase;
    border: 0;
    background: #005073;
    padding: .5rem;
    color: white;
    margin: 1rem 0;
    width: auto;
}
      
#btn:hover{
    background: #107dac;
}

#list1, #list2, #list3, #list4 {
    height: 120px;
    width: 500px;
    border-radius: 2px;
    border-style: solid;
    margin: 30px auto;
}