body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("images/backgroundimage.jpg");
  background-size: cover;
}

.postForm{
  border-radius: 10px;
  max-width: 700px;
  margin: 2rem auto;
  border: 2px solid #1ebbd7;
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200, 200, 200, 0.3);;
}

.postForm>label{
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  padding: 1rem 0 .25rem;
}

.postForm>input, textarea{
  border-radius: 10px;
  display: block;
  width: 100%;
  font-size: 18px;
  border: 2px solid #005073;
  padding: .5rem;
}

#btn{
  border-radius: 10px;
  text-transform: uppercase;
  border: 0;
  background: #005073;
  padding: .5rem;
  color: white;
  margin: 1rem 0;
  width: auto;
}

#btn:hover{
  background: #107dac;
}

#menu {
  float: left;
  width: 3%;
}

#menuImage {
  width: 40px;
  height: 40px;
}

#searchlogo {
  float: left;
  width: 40%
}

#searchImage {
  margin-bottom: 5px;
  float: left;
  width: 60px;
  height: 60px;
  transform: translateY(-7px) translateX(-6px);
}

#logo {
  float: left;
  width: 3%;
}

#logoImage {
  width: 40px;
  height: 40px;
}

#home {
  float: left;
  width: 3.5%
}

#homeImage {
  width: 35px;
  height: 35px;
}

#couponbook {
  float: left;
  width: 3%;
}

#couponbookImage {
  width: 33px;
  height: 33px;
}

#name {
  float: left;
  width: 46%;
  font-size: 35px;
  font-weight: bold;
  margin-left: 15px;
}

.top{
  height: 100px;
}